{% extends "base.html" %}

{% block title %}{{ SITENAME }} | Notebook{% endblock %}

{% block main %}
    <div class="contentContainer">
    <h1 class="articleTitle">Posts</h1>
    <!-- Uncomment below to show all tags -->
        <!-- <div class="tagListing">
            {% for tag, articles in tags|sort %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}<span class="tagCount">{{ articles|count }}</span></a>
            {% endfor %}
        </div> -->

        {% for article in articles_page.object_list %}
        <div class='articleItemContainer'>
            <a href="{{ SITEURL }}/{{ article.url }}">
            <div class="bannerImage" style="background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                                         url({{ SITEURL }}/{{ article.image_url}});">
            </div>
            </a>

            <!-- <img style="width: 100%;" src="{{ SITEURL }}/{{ article.image_url}}"> -->
            <h1 class='articleListTitle'>
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </h1>

            <div class=articleListContent>
                <p>Date: {{ article.date.strftime('%B %d, %Y') }}</p>
                {{ article.summary }}
                <span>
                    <a href="{{ SITEURL }}/{{ article.url }}">
                    (Read More)
                    </a>
                <span>

            </div>

            <div class="tagListing">
                Tags:
                {% for tag in article.tags|sort %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>

        {% else %}
         No posts yet!
        {% endfor %}

        {% include 'pagination.html' %}
    </div>

{% endblock %}
