/*
--- Style Guide ---
Fonts:
    headings: "Montserrat"
    body:     "Open Sans"

Theme Accent Colors:
    blue: #6699CC, <--currently using this
    red:  #E26A6A

Border Colors:
    gray: #E4E4E4

Text Colors:
    black: #000,
    white: #FFF,
    gray:  #C4C4C4

Table Colors:
    zebra-stripe gray: #F2F2F2,
    hover-row gray:    #DDD,

Media Breakpoint:
    max-width: 750px

*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;s
}

body a {
    color: #6699CC;
    text-decoration: none;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: bold;
    color: #000;
    text-align: left;
    margin-bottom: 1rem;
}

/* For Article */

.articleTitle {
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 1.25rem;
}

.articleMetaData {
    font-family: "Montserrat";
    font-size: 16px;
    text-align: left;
    color: #000;
    margin-bottom: 2em;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.2rem;
}

p {
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 1.4em;
    font-style: normal;
    color: #000;
    text-align: left;
}

p > img {
    width: 100%;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgRounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 15em;
}


hr{
    margin-top:1rem;
    margin-bottom:1rem;
    border:0;
    border-top:2px solid #EAEAEA;
}

table {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
    border-bottom: 2px solid #EAEAEA;
    width: 100%;
}

td, th {
    padding: 8px;
}

tr:nth-child(even){background-color: #F2F2F2;}

tr:hover {background-color: #DDD;}

th {
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 12px;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    padding-bottom: 12px;
    text-align: left;
    color: #FFF;
    background-color: #000;
}

ul {
    list-style: disc inside;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    color: #000;
    text-align: left;
}

.contentContainer ul {
    list-style: disc outside;
}

.contentContainer ul > li {
    margin-bottom: 0.25em
}

ol {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    color: #000;
    text-align: left;
}

.contentContainer ol > li {
    margin-bottom: 1em;
}

dt {
    font-weight: bold;
    text-decoration: underline;
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}

/* Sticky Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.siteContent {
    flex: 1 0 auto;
}

/* Max Content Width
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contentContainer {
    max-width: 720px;
    margin: 0 5%;
}

input[type=text], select {
    font-family: "Open Sans";
    font-size: 16px;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Responsive Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navBar {
    background-color: #061C30;
    overflow: hidden;
}

.navBar a {
    color: #d3d3d3;
    padding: 14px 25px;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    float: left;
}

.navBar a.navTitle {
    margin-right: 50px;
    padding-left: 0px;
}

.navBar a:hover {
    color: #6699CC;
}

/*SVG color change during hover state*/
.navBar a:hover path{
    fill:  #6699CC;
}

.navBar a path{
    fill:  #d3d3d3;
}

.svgMenu {
    height: 1em
}

/*Hides the menu Icon which will show when the nav needs to be
responsive*/
.navBar .icon{
    display: none;
}

/* 750px chosen as media breakpoint based on font sizes and device
   screen sizes*/
@media (max-width: 750px) {
    .navBar a.navTitle {
        margin-right: 0px;
    }

    /*Ignores the first link in the div and
    applies 'display = none' to everything else.
    Basically hiding everything but 1st navBar item*/
    .navBar a:not(:first-child) {
        display: none;
    }

    /*Brings the menu icon into view and floats it to the right*/
    .navBar a.icon {
        display: block;
        float: right;
        padding-right: 0px;
    }

    /*The navBar class will be changed to 'navBar responsive' using JS.
    This chunk of CSS makes the menu icon stay where it is by making
    the position absolute within it's parent 'right top corner'.
    Without this, the icon will get kicked around when the items are
    collapsed and expanded*/
    .navBar.responsive {
        position: relative;
    }
    .navBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 5%;
    }

/*Removes the originally set float and brings them to view*/
    .navBar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

/* Banner Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landingBannerImage ,.bannerImage {
    width: 100%;
    background-size:cover;
    height: 45vh;
    background-position: center;
    clear:both;
    display: table;
    text-align: center;
}

/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landingBannerImage {
    height: 100vh;
    background-position: left;
}
.siteContent .bannerText {
    margin: 0;
    padding: 0;
    z-index: 1;
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
}

/* Pagination
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pagerContainer {
    width: 100%;
    margin: 10px auto;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #EAEAEA;
    float: left;
}

.pagerNext, .pagerPrevious {
    display: inline-block;
    padding: 8px 16px;
}

.pagerNext {
    padding-right: 0px;
    float: right;
}

.pagerPrevious {
    padding-left: 0px;
}

.pagerNext > a,
.pagerPrevious > a {
    text-decoration: none;
    color: #000;
}

.pagerNext > a:hover,
.pagerPrevious > a:hover {
    color: #6699CC ;
}

.pageNumber {
    text-align: left;
    font-size: 16px;
    color: #000;
}


/* Code Syntax Highlighting
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hljs {
    padding: 16px;
    background: rgba(27,31,35,.05);
    border-radius: 3px;
    font-size: 16px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

/*NOTE: See highlight.js css atom-dark for font and background colors*/
code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: #24292e;
    background: rgba(27,31,35,.05);
    border-radius: 3px;
    font-size: 75%;
    margin: 0;
    padding: .175em .4em;
}

/* Latex, MathJax, render_math
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.math > div {
    font-size: 1.3em;
}

.math > span {
    font-size: 1em;
}

/* Archives
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.archiveList a {
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 20px;
    color: #000;
}

.archiveList a:hover {
    color: #6699CC;
}

/* Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    border-top: 4px solid #EAEAEA;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}

footer.landingPageFooter {
    border-top: none;
    margin-top: 0px;
}

footer ul {
    font-family: "Montserrat";
    font-size: 16px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: table;
    margin: 0 auto;
}

footer li {
    display: inline-block;
    color: #FFF;
    border-right: 1px solid #000;
}

footer li:last-child {
    border-right: none;
}

footer a {
    display: block;
    padding: 0px 15px;
    color: #000;
    text-decoration: none;
}

footer a:hover{
    color: #6699CC;
}

#pelicanFooter {
    text-align: center;
    font-family: "Montserrat";
    color: #000;
    margin: 0 5%;
    padding-bottom: 10px;
}

#pelicanFooter > a {
    display: inline;
    font-family: "Montserrat";
    color: #6699CC;
    padding: 0;
    text-decoration: underline dotted;
}

/* Tag Listing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tagListing {
    font-family: "Montserrat";
    font-size:16px;
    /* font-size:1.8rem; */
    list-style-type:none;
    text-align:left;
    padding-left: 0;
}

.tagListing > a {
    display:inline-block;
    margin:4px 2px;
    padding:2px 6px;
    padding-bottom: 3px;
    border-radius: 20px;
    border: 1px solid #6699CC;
    color:#6699CC;
    font-weight:400;
    text-decoration: none;
}


.tagListing > a:hover {
    background:#6699CC;
    color:#FFF;
}

.tagListing .tagCount {
    font-size:14px;
    color:#000;
    margin-left: 5px;
}

/* Article Listing on Notebook (Tags) and Tag pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.articleItemContainer {
    margin-top: 10px;
    padding-top: 10px;
    /* border-top: 2px solid #EAEAEA; */
    margin-bottom: 80px;
}


.articleListTitle {
    text-align: left;
    font-size: 22px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 0.25em;
}

.articleListTitle > a {
    color: #000;
}

p.articleListDate {
    margin-top: 0.5em;
    font-size: .85em;
}

.articleListTitle > a:hover{
    color: #6699CC;
}

.articleListContent, .articleListContent > p {
    font-family: "Open Sans";
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

#articleListTags.tagListing > li{
    font-size: 14px;
}

#articleListTags.tagListing{
    margin: 0;
}

/* Desktop Parameters
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (min-width: 750px) {
    .articleTitle {
        font-size: 2.5rem;
        text-align: left;
    }

    .articleMetaData {
        margin-bottom: 3.125em;
        text-align: left;
    }

    /* a.navItem {
        float: right;
        padding-right: 0px;
        padding-left: 50px;
    } */

    h1 {
      font-size: 2.0em;
    }

    h2 {
      font-size: 1.75em;
    }

    h3 {
      font-size: 1.50em;
    }

    h4 {
      font-size: 1.125em;
    }

    h5 {
      font-size: 1.1em;
    }

    h6 {
      font-size: 1.05em;
    }

    p {
        font-size: 20px;
        text-align: left;
    }

    ul {
        font-size: 20px;
    }

    ol {
        font-size: 20px;
    }

    footer > a {
        display: block;
        padding: 0px 25px;
        color: #000;
        text-decoration: none;
    }

    .navBar {
        /* max-width: 720px; */
        font-size: 20px;
        margin:0 auto;
        padding: 0 0;
    }

    .navBar a.navTitle{
        /* padding-left: 0px; */
        padding-left: 25px;
    }
    .contentContainer {
        margin: 0 auto;
    }

    .articleItemContainer {
        margin-top: 20px;
    }

    .articleItemContainer .bannerImage {
        height: 470px;
    }

    /* .articleListContent > p {
        text-align: justify;
    } */

    .pageNumber {
        text-align: left;
    }

    .imgRounded {
        width: 20em;
    }

    .siteContent .bannerText {
        font-size: 50px;
    }

    #pelicanFooter > a{
        margin: 0 auto;

    }

}
